#main {
    float: left;
    padding-bottom: 1em;
}

textarea {
    font-family: monospace;
    width: 100%;
    height: 20em;
}

.left {
    width: 49%;
    float: left;
}

.right {
    width: 49%;
    float: right;
}

.program {
    width: 100%;
    overflow: auto;
    font-family: monospace;
}

.program span {
    display: inline-block;
    width: 0.8em;
    height: 100%;
    text-align: center;
}

.program span.current {
    background-color: yellow;
}

.output {
    font-family: monospace;
    white-space: pre-wrap;
}

.info {
    font-family: monospace;
}
